/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    border: 0;
    list-style: none;
  }

html, body {
    background-color: #fff;
    color: #000;
    font-family: Lucida Grande,Lucida Sans Unicode,sans-serif;
    height: 100%;
    width: 100%;
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
}
